.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog
Celwahit/obj/Celwahit.csproj.nuget.g.props
Celwahit/obj/Celwahit.csproj.nuget.dgspec.json
*.cache
*.cache
Celwahit/obj/project.assets.json
Celwahit/obj/Debug/netcoreapp3.1/Celwahit.csproj.AssemblyReference.cache
Celwahit/obj/Debug/netcoreapp3.1/Celwahit.assets.cache
Celwahit/obj/Celwahit.csproj.nuget.g.props
Celwahit/obj/Debug/netcoreapp3.1/Celwahit.csproj.AssemblyReference.cache
