.vs/
bin/
obj/
*.user
artifacts/
.vscode/
.dotnet/
*.binlog
*.dll
*.txt
*.cache
*.mgstats
Celwahit/Content/obj/Windows/Content/.mgstats
Celwahit/Content/obj/Windows/Content/.mgstats
Celwahit/Content/obj/Windows/Content/.mgstats

Celwahit/Content/obj/Windows/Content/.mgstats
